<!DOCTYPE html>
<html>
  <head>
    <title>Login Demo</title>
  </head>
  <body>
    <h1>Login Demo!</h1>
    <a href="/register">Click to sign up</a>
    <a href="/login">Click to log in</a>
    <a href="/logout">Click to log out</a>
  </body>
</html>
