<!DOCTYPE html>
<html>
  <head>
    <title>Login Demo</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
    </form>
  </body>
</html>
